.idea/
.ipynb_checkpoints
*.pyc

# Ignore ESC-50 audio after initial push
ESC-50-master/audio/

# Ignore generated spectrograms and model artifacts
spectrograms/
*.npy
*.pkl
*.h5

# Ignore system/OS files
.DS_Store
Thumbs.db

tf-env/

# Model files
*.keras
*.h5

# Audio files
*.wav

# Generated plots/images
*.png

# Spectrograms and other temp folders
spectrograms/
custom_spec.png


